* {
    box-sizing: border-box
}

body {
    margin: 0
}

.nav {
    padding: 22px 30px ;
    fill: #FFF;
    box-shadow: 0px 2.983px 7.456px rgba(0, 0, 0, 0.10) ;
    height: 70px;
    display: flex;
    
}

.content {
    font-family: 'Poppins', 'san-serif';
}

.nav--airbnb-logo {
    max-width: 80px;
}

.hero {
    margin-top: 10px ;
    display: flex;
    flex-direction: column;
    
}

.hero--grid {
    width: 650px;
    height: 600px;
    align-self: center;
}

.hero--info {
    padding-left: 100px;
}

.hero--info-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 110%; /* 39.6px */
    margin-bottom: 16px;
}

.hero--info--description {
    color: #222;
    font-size: 16px;
    font-weight: 300;
    line-height: 110%; /* 17.6px */
    max-width: 320px;
    margin-top: 0;
}

.card {
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.card--review {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.card--img {
    width: 176px;
    height: 235px;
    border-radius: 9px;
}

.card--star {
    width: 14px;
    height: 14px;
}

.card--review--dotImg {
    width: 2px;
    height: 2px;
}

.card--review--rating, .card--review--count, .card--review--country {
    width: 18px;
    height: 14px;
    font-size: 12px;
    font-weight: 300;
    line-height: 110%; /* 13.2px */
}

.card--review--rating {
    color: #222;
    margin: 0 3px;
}
.card--review--count, .card--review--country {
    color: #918E9B;
}

.card--review--dotImg {
    margin: 0px 3px;
}

.card--title {
    /* width: 175px; */
    height: 14px;
    color: #222;
    font-size: 12px;
    font-weight: 300;
    line-height: 110%; /* 13.2px */
}

.card--title > p, .card--price > p  {
    margin: 0;
    padding: 0;
}

.card--price > p, .card--price p > span {
    color: #222;
    font-size: 12px;
    line-height: 110%; /* 13.2px */
}

.card--price {
    margin-top: 8px;
}

.card--price > p {
    font-weight: 300;
}

.card--price p > span {
    font-weight: 600;
}

.card-list {
    display: flex;
    /* flex-wrap: nowrap; */
    overflow-x: auto; 
}

.badge {
    position: absolute;
    top: 5px;;
    left: 105px;
    border-radius: 2px;
    background: #FFF;
    width: 60px;
    height: 20px;
    color: #222;
    font-size: 10.24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}